d{% extends "base.html" %}
{% load static %}


{% block media %}

<body>
    <iframe width="480" height="270" src="https://www.youtube.com/embed/eChMg8721FA?showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=Q7KJyHpsSqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% comment %} <div class='media'>
        <iframe src="https://htmlbook.ru/html/iframe" width='500' height='300'>
        fsfsdfsd
        </iframe>
        {% comment %} <video src="{% static "files/Royal Library.mp4" %}" type="video/mp4" autoplay muted loop ></video> {% endcomment %}
    {% comment %} </div> {% endcomment %} 
    [media=https://youtu.be/JYQGj10-Qpo]
</body>

{% endblock media %}
